<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet/less" href="./public/less/main.less">
	<script src="./public/libs/less.js"></script>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-route/angular-route.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.js"></script>
	<script src="./scripts/app.js"></script>
	<script src="./scripts/controllers.js"></script>
	<script src="./scripts/directives.js"></script>
	<script src="./scripts/services.js"></script>
</head>
<body>
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-include="'./views/navs.html'" ng-controller="NavsController"></div>
		<div ng-class="{container: true, collapse: collapsed}">
			<!-- 头部 -->
			<div class="header">
				<a href="javascript:;" ng-click="toggle()" class="menu icon-menu"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div class="body">
				<div yk-loading ng-if="!loaded" class="loading" ng-src="./public/images/loading.gif"></div>
				<div ng-view></div>
			</div>
		</div>
	</div>
	<!-- <script>
		var menu = document.querySelector('.menu');
		var container = document.querySelector('.container');
		var navs = document.querySelector('.navs');
		var dd = navs.querySelectorAll('dd');

		menu.onclick = function () {
			container.classList.toggle('pull-right');
			navs.classList.toggle('pull-right');

			if(!this.classList.contains('collapsed')) {
				for(var i=0; i<dd.length; i++) {
					dd[i].style.transitionDuration = (i + 1) * 0.15 + 's';
					dd[i].style.transitionProperty = 'all';
					dd[i].style.transitionDelay = '0.2s';
					dd[i].style.transitionTimingFunction = 'ease-out';
					dd[i].style.transform = 'translate(0)';
				}
			} else {
				for(var i=dd.length - 1; i>=0; i--) {
					dd[i].style.transitionDuration = (dd.length - i + 1) * 0.05 + 's';
					dd[i].style.transitionProperty = 'all';
					dd[i].style.transitionDelay = '';
					dd[i].style.transitionTimingFunction = 'ease-out';
					dd[i].style.transform = 'translate(-100%)';
				}
			}

			this.classList.toggle('collapsed');
		}
	</script> -->
</body>
</html>